.khan__buy-link {
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: #2f80ed;
  margin-left: 48px;
  transition: opacity 0.3s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
